<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="blocks/head :: copy"></head>
    <body>
        <div th:replace="blocks/header :: copy"></div>

        <div class="container">
            <div th:if="${userName}">
                <h1>Login/registration works too</h1>
            </div>
            <div th:unless="${userName}">
                <h1>Server is running</h1>
            </div>
        </div>
        <div th:replace="blocks/loginModal :: copy"></div>
        <div th:replace="blocks/regModal :: copy"></div>

    </body>
</html>


