<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="navbar navbar-light bg-light" th:fragment="copy">
        <a class="navbar-brand" href="#">
            <img src="/img/logo.png"  alt="Kulcs-Soft">
        </a>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="/registration">
                <button type="register" class="btn btn-danger reg">Register</button>
            </a>
            <a href="/login">
                <button type="login" class="btn btn-primary log">Login</button>
            </a>
        </div>
    </nav>
</body>
</html>